.result{
    background-color: #202020;
}
.result__edit-nondecoration{
    text-decoration: none;
    color: #FFFFFF;
}
.result{

    background-color: #202020;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 70px 70px 70px;
    box-sizing: border-box;
}

.result__title{
  /*  padding-top: 160px;*/
display: flex;
width: 100%;
max-width: 204px;
color: white;
font-style: normal;
font-weight: 500;
Font-family: 'Inter';
Font-size: 24px;
Line-height: 29px;
align-items: center;
position: relative;
margin: 0 auto;
flex-direction: column;
justify-content: center;
}
/*имя*/
.result__name{
    max-width:141px;
    max-height: 14px;
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    color:#FFFFFF;
    padding-top: 120px;
    padding-bottom: 16px;
}
.result__email{
    /*color:yellow;*/
    padding-top: 16px;
    max-width:288px;
    max-height: 14px;
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    vertical-align: Top;
    color:#FFFFFF;
    padding-bottom: 16px;

}

.result__name-name{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    width: 396px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #424242;
}
.result__email-email{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    width: 396px;
    font-size: 14px;
    cursor: pointer;
    padding: 0 0 16px 0;
}
.result__email-password{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
    width: 396px;
    font-size: 14px;
    align-items: flex-start;
    cursor: pointer;
    padding: 0 0 16px 0;
}
.result__edit{
    padding-top: 185px;
    padding-bottom: 16px;
    width: 410px;
    line-height: 16px;
    display: flex;
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    align-items: center;
   /* margin: 0 auto;*/
    flex-direction: column;
}
.result__exit{
    color: #EE3465;
    display: flex;
    width: 410px;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    position: relative;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    padding-top: 0;
   /* padding-bottom: 102px;*/
}

.result__input-email{
    font-size: 11px;

}
.result__input-name{
padding-bottom: 16px;
}

.result__input-name{
    background-color: #202020;
    color: #FFFFFF;
    border: none;
    text-align: end;
}
.result__input-email{
    background-color: #202020;
    color: #FFFFFF;
    border: none;
    text-align: end;
}


@media  (min-width: 768px) and (max-width: 900px){
    .header{
        padding-top: 18px;
        padding-left: 30px;
    }
    .result__title{
        padding-top: 160px;

    }
    .result__name{
        padding-top: 93px;

    }

    .result__name-name{
        max-width: 410px;

    }
    .result__email-email{
        max-width: 410px;
    }
    .result__edit{
        max-width: 410px;
        padding-top: 180px;
    }
    .result__exit{
        max-width: 410px;
    }
    .header__name_saved-film {
        visibility: hidden;
    }

    .header__film-saved_film {
        visibility: hidden;
    }

    .header__user {
        visibility: hidden;
    }
}


@media screen  and (min-width: 320px) and (max-width: 767px){
    .header__name_saved-film {
        visibility: hidden;
    }

    .header__film-saved_film {
        visibility: hidden;
    }

    .header__user {
        visibility: hidden;
    }

    .header__logo{
        color: #FFFFFF;
        width: 40px;
        height: 40px;
    }
    .result__name {
        padding-top: 80px;
    }
    .result__edit{
        padding-top: 349px;
        padding-bottom: 16px;
    }
    .result{
        padding-left: 25px;
        padding-right: 25px;
    }
    .result__name-name{
        max-width: 250px;
        height: 112px;
        padding-bottom: 0;
    }
    .result__email-email{
        max-width: 250px;

    }
    .result__edit{
        max-width: 250px;
        padding-top: 349px;
    }
    .result__exit{
        max-width: 250px;
    }
}


