.landing__container {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.landing {
    margin-left: auto;
    margin-right: auto;
    background-color: #073042;
    padding: 82px 70px 122px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 730px;
    margin: 0 auto;
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    Line-height: 96%;
    font-family: 'Inter', serif;
}
