.header__signup{
    background-color: #202020;
}
.header__logo_welcome{
    margin: 0 auto;
  /*  position: absolute;*/
    max-width: 1280px;
    max-height: 217px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 40px;
  /*  padding-left: 442px;*/
}
.header__welcome{
    margin: 0 auto;
/*    position:relative;*/
    padding-bottom: 40px;
  /*  padding-left: 442px;*/
    font-family: Inter;
    font-style: normal;
    font-weight:500;
    font-size: 24px;
    line-height: 29px;
    align-items: flex-start;
    Vertical-align: Top;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  /*  align-items: center;*/
}

    @media screen and (max-width: 1024px){
        .header__welcome {
        }
        .header__logo_welcome{
       /*     padding: 70px  0 40px;*/
        }
    }

@media screen and (max-width: 768px) {
    .header__welcome {
    }
    .header__logo_welcome{
      /*  padding: 232px 0 40px;*/
    }
}
      @media screen and (max-width: 620px){
          .header__welcome {
              Font-family: Inter;
             font-weight: 500  ;
          Font-size: 24px;
          Line-height: 29px;
              max-width: 260px;
              max-height: 29px;
          }
          .header__logo_welcome{
              justify-content: center;
            /*  padding: 56px 0 50px;*/
          }
      }
/*
@media screen and (max-width: 1024px){
@media screen and (max-width: 768px)
@media screen and (max-width: 620px)*/
