
.button__main{
    border-radius: 3px;
    display: flex;
    background-color: #073042;
    color: #FFFFFF;
    border: 1px;
    border-style: solid;
    Opacity: 60%;
    position: relative;
    width: 129px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@media screen and (min-width: 200px) and (max-width: 500px) {
    .button__main {
        font-family: 'Inter', serif;
        font-weight: 500;
    Font-size: 12px;
    Line-height: 16px;
    }
    }