
.aboutMe__whoIS{
    width: 100%;
    padding: 0 70px;
    font-family: 'Inter';
    font-weight: 400;
    max-height: 27px;
    background-color: #073042;
    margin: 0;
    padding-top: 110px;
    display: flex;
/*    border: 1px solid white;*/
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
   /* vertical-align: Top;*/
     color: #FFFFFF;
}
.aboutMe__strelka-resurs{
    display: flex;
    width: 880px;
}
.aboutMe__myName{
    padding-top: 62px;
    padding-bottom: 8px;
    max-width: 600px;
    padding-left: 0;
    height: 58px;
    font-family: 'Inter';
    font-weight: 400;
    width: 100%;
    background-color: #073042;
    color: #FFFFFF;
    font-size: 58px;
    margin: 0;
    display: flex;
}
.lineSimple{
    font-family: 'Inter';
    font-weight: 400;
    color: #DADADA;
    max-width: 1140px;
    line-height: 1px;
    display: flex;
    width: 100%;
}
.aboutMeLinks{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutMe__descriptionFoto{
    width: 100%;
    padding: 0 70px;
    display: flex;
    background-color: #073042;
  /*  justify-content: space-between;*/

}
.imgfotoMe{
    padding-top: 66px;
    background-color:#073042;
    width: 270px;
    height: 327px;
    border-radius: 10px;
}
.a{
    grid-template-rows: repeat(1, 29px);
    grid-template-columns: repeat(2, 231px);
}
.links{
    font-family: 'Inter';
    font-weight: 400;
    width: 100%;
    padding: 0 70px;
    margin: 0;
    padding-bottom: 125px;
    flex-direction: row;
    display: flex;
    background-color: #073042;
}

.aboutMe__connect{
    width: 100%;
    background-color: #073042;
   padding: 0 70px 100px 70px;
    font-size: 14px;
    line-height: 17px;
    color:#FFFFFF;
}
.aboutMe__gitHub{
    color:#FFFFFF;
    width: 100%;
    padding-right: 20px;
    text-decoration: none;
}
.aboutMe__facebook{
    color:#FFFFFF;
    width: 100%;
    text-decoration: none;
}
.aboutMe__portfolio{
    width: 100%;
    padding:  0 70px 50px;
    margin: 0;
background-color: #073042;
    color:#8B8B8B;
    font-size: 18px;
    line-height: 20px;
}
.aboutMe__work{
    width: 100%;
   /* padding: 0 70px;*/
    max-width: 600px;
    background-color: #073042;
    padding-top: 18px;
    padding-bottom: 26px;
    margin: 0;
    display: flex;
    font-weight: 500;
    font-style: normal;
    size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
.aboutMeTitleAbout{
    height: 88px;
    font-family: 'Inter';
    font-weight: 400;
    padding-right: 270px;
    width: 100%;
    margin: 0;
    background-color: #073042;
    max-width: 600px;
    color: #FFFFFF;
    font-size: 14px;
}
.aboutMelinks{
    width: 100%;
    margin-top: 99px;
    margin-right: 70px;
    flex-direction: row;
    display: flex;
    font-size: 30px;
    border: 1px solid white;
}
.aboutMe__lineSimple{
  /*  padding: 0 70px;*/
    width: 100%;
    background-color: #073042;
    max-width: 1140px;
 /*   height: 1px;*/
    color: #424242;
    display: flex;
}
.aboutMeLinkStatic{
    width: 100%;
    max-height: 50px;
    background-color: #073042;
    color:#FFFFFF;
    line-height: 16px;
  /*  padding-left: 70px;*/
    font-size: 30px;
    text-decoration: none;
    padding-bottom: 19px;

}
.aboutMe__strelka{
  /*  display: flex;*/
    width: 29px;
    height: 60px;

}
.aboutMeLinkAdaptive{
    padding-top: 10px;
    width: 100%;
  /*  max-width: 880px;*/
    max-height: 50px;
    background-color: #073042;
    color:#FFFFFF;;
    line-height: 16px;
    /* padding-bottom: 18px;*/
    font-size: 30px;
    text-decoration: none;
  /*  padding-left: 70px;*/
   /* padding-top: 20px;*/
    padding-bottom: 19px;
}

.aboutMeLinkLanding{
    width: 100%;
 /*   max-width: 880px;*/
    max-height: 50px;
    background-color: #073042;
    color:#FFFFFF;
    line-height: 16px;
    padding-top: 20px;
    padding-bottom: 125px;
    font-size: 30px;
    text-decoration: none;
 /*   padding-left: 70px;*/
}
