.image_world{
    padding-top: 75px;
    padding-right: 70px;
    width: 310px;
    height: 304px;
    justify-content: left;
    flex-direction: inherit;
    display: flex;
    padding-left: 900px;
}
