

.header {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 18px;
    padding-top: 18px;
    width: 100%;
    max-width: 1140px;
    background-color: #073042 ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;

    font-style: normal;
    font-weight: 400;
}
.header__button {
    background-color: #073042;
    color: #FFFFFF;
    border: 1px;
    border-style: solid;
    Opacity: 60%;
    line-height: 16px;
    margin-bottom: 110px;
}

.p{  font-size: 12px;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    height: 36px;
    width: 129px;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__description{
    color: #FFFFFF;
    padding-top: 75px;
    padding-bottom:36px ;
    margin-left: 0;
    display: flex;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 58px;
    font-family: inter, serif;
 /*   background-color: #073042 ;
    min-height: 100vh;*/
    max-width: 640px;
   /* max-height: 174px;*/
}
.header__content{
  /*  color: white;*/
    max-width: 310px;
 /*  max-height: 32px;*/
  /*  margin-top: 36px;*/
  /*  margin-left: 70px;*/
    text-align: left;
    Opacity: 50%;
}

@media (prefers-reduced-motion: no-preference) {
    .header__logo {
        animation: logotip-spin infinite 20s linear;}}

.header__logo {
        pointer-events: none;
        position: inherit;
        max-width: 1280px;
        border-radius: 0;
        align-self: flex-start;
        align-content: flex-start;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

/*.TitleAbout {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: right;
    flex-direction: column;
}*/

.header__auth {
  /*  padding: 70px 0 40px;*/
    background-color: transparent;
    justify-content: flex-start;
    justify-items: flex-start;
}

@media screen and (max-width: 768px){
    .header{}
}
