
/*.root{
    background-color: #073042;
}*/
.header {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 18px;
    padding-top: 18px;
    width: 100%;
    max-height: 74px;
    max-width: 1140px;
    background-color: #073042 ;
   /* min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.header__button{

}

.header__description{
    color: #FFFFFF;
    margin-top: 70px;
    margin-left: 75px;
    display: flex;
 /*   background-color: #073042 ;
    min-height: 100vh;*/
}
.header__content{
    color: white;
    max-width: 310px;
    max-height: 32px;
    margin-top: 36px;
    margin-left: 70px;
    text-align: left;
    Opacity: 50%;
}

@media (prefers-reduced-motion: no-preference) {
    .logotip {
        animation: logotip-spin infinite 20s linear;}}

    .logotip {
        pointer-events: none;
        position: inherit;
        max-width: 1280px;
        border-radius: 0;
        align-self: flex-start;
        align-content: flex-start;
        flex-direction: column;
        margin-top: 18px;
        margin-left: 70px;
        display: flex;
        justify-content: space-between;
    }

.TitleAbout {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: right;
    flex-direction: column;
}

.header__auth {
  /*  padding: 70px 0 40px;*/
    background-color: transparent;
    justify-content: flex-start;
    justify-items: flex-start;
}

@media screen and (max-width: 768px){
    .header{}
}
