.notFound_404{
  /*  width: 100%;*/
    padding: 0 70px;
    margin: 0;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: Inter;
    color: #FFFFFF;
    align-items: center;
}
.notFound_404__main{
    max-width: 400px;
    max-height: 169px;
    font-style: normal;
    font-size: 140px;
     line-height: 169px;
    margin:  0  auto ;
    padding-left: 0;
    padding-top: 246px;
    padding-right: 0;
}

.notFound_404__title{
    Font-family: Inter;
   font-style: normal;
   font-size: 16px;
   line-height: 19px;
   vertical-align: Top;
    margin:  0  auto ;
    padding-left: 0;
    padding-top: 5px;
}
.notFound_404__button{
    color: #4285F4;
    background: transparent;
    margin: 184px auto 60px auto;
    border:0;
    padding:0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    max-width: 42px;
    max-height: 17px;
    display: flex;
}
@media screen and (max-width: 1023px){
    .notFound_404{
        padding-left: 184px;
        padding-right: 184px;
    }
}
@media screen  and(max-width: 768px){
    .notFound_404{
        padding-left: 184px;
        padding-right: 184px;
        padding-top: 408px;
    }
    .notFound_404__button{
        padding-bottom: 246px;

    }
}
@media screen and  (min-width: 320px) and (max-width: 600px) {
    .notFound_404{
        padding-left: 10px;
        padding-right: 10px;
    }
    .notFound_404__main{
        font-size: 80px;
        padding-top: 329px;
    }
    .notFound_404__button{
        padding-top: 284px;
        margin: 0;
    }
}