.profile{
    background-color: #202020;
    width: 100%;
    max-width: 1280px;
    height: 626px;
    display: flex;
    justify-content: center;
    padding: 0 70px;

}
.profile__title{
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    height: 29px;
    text-align: Center;
    vertical-align: Top;
    color:#FFFFFF;
    width: 204px;
    padding: 74px 357px 123px;
}
/*имя*/
.profile__name{
    max-width:141px;
    max-height: 14px;
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    vertical-align: Top;
    color:#FFFFFF;
    padding-top: 123px;
    padding-bottom: 16px;
    padding-right: 147px;
    border-bottom: 1px solid white;
}
.profile__email{
    padding-top: 16px;
    max-width:288px;
    max-height: 14px;
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    vertical-align: Top;
    color:#FFFFFF;
    padding-bottom: 16px;

}
.profile__name-email{

}

.profile__name-name{
    display: flex;
    justify-content: space-between;
/*    border-bottom: 1px solid white;*/
    align-items: baseline;
}
.profile__email-email{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.profile__edit{
    padding-top: 220px;
    width: 410px;
    line-height: 16px;
    display: flex;
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}
.profile__exit{
   color: #EE3465;
    padding-top: 20px;
    display: flex;
}

.profile__input-email{
    font-size: 11px;
}




