.techs{
    background-color: #272727;
    width: 100%;
    padding: 0 70px;
    padding-top: 100px;
    font-family: Inter;
    padding-bottom: 16px;
}
.techs__title_small{
    width: 100%;
    max-width: 1140px;
    font-family: Inter, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    text-align: Left;
    vertical-align: Top;
    color: #FFFFFF;
    background-color: #272727;
    display: flex;
    border-bottom: 1px solid #DADADA;
    padding-bottom:  23px;
    letter-spacing: -0.04em;
}
.techs__title{
    width: 100%;
    max-width: 1140px;
    font-family: Inter, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    vertical-align: Top;
    color: #FFFFFF;
    background-color: #272727;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom:  26px;
    margin: 0;
    letter-spacing: -0.04em;
}
.techs__body{
    font-size: 14px;
    line-height: 20px;
    padding-top: 0;
    padding-bottom: 100px;
}
.techs__button{
    align-items: center;
    display: grid;
    align-content: center;
    background-color: #303030;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    text-align: center;
   /* text-decoration: none;*/
    grid-template-rows: repeat(auto-fit, 60px);
    grid-template-columns: repeat(7, 90px);
    gap: 10px;
   font-style: normal;
font-size: 14px;
line-height: 17px;
}
