.popup {
    position: fixed; /*для подложки прячу попап на видимой части сверху*/
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #202020;
    padding: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    min-height: 100vh;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.popup__combine-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.popup_opened {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.popup__close-button {
    width: 22px;
    height: 22px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/src/components/images/krest.svg');
    background-color: transparent;
    left: 230px;
    padding: 0;
    border: none;
    top: auto;
    bottom: 180px;
    z-index: 1500;
}

.popup__close-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.popup__close-button-no-rel {
    position: static;
}

.mobile-visibility {
    visibility: initial;
    font-family: 'Inter';
    text-decoration: none;
    /* margin-top: 12px; */
    /* margin-bottom: 39px; */
    /* margin-right: 30px; */
    /* background-color: transparent; */
    border: none;
    /* font-size: 18px; */
    color: #FFFFFF;
    visibility: initial;
}

.mobile-main {

}

.mobile-akkaunt {
    height: 32px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 629px;
    border-radius: 20px;
    /* max-width: 100px;
     max-height: 32px;*/
    Font-size: 14px;
    /* top: 21px; */
    font-family: 'Inter';
    font-weight: 500;
    background-color: #313131;
    Line-height: 16px;
    color: white;
    text-decoration: none;
}

/*.header__name_saved-film{
    padding-top: 0;
}*/

.popup__container-image {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.popup-correct {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 320px) and (max-width: 500px) {
    .popup__close-button {
        left: 120px;
    }
}
@media screen  and (max-width: 320px) {
.popup {
    width: 100vw;
    max-width: 320px;
    max-height: 780px;
}
}

/*
.popup__combine-word {
display: flex;
flex-direction: column;
}
.popup__container-image {
padding: 0;
margin: 0;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}
*/
