body {
    margin: 0;
    padding:0;
}

.tumb{
    transform: translate(-50%, -50%);
}

input[type="checkbox"]{
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 20px;
    -webkit-appearance: none; /*для отображения элемента*/
    background:  #202020;
    border-radius: 16px;
    transition: .0001s;
}

input:checked[type="checkbox"]{
    background: #FF0000;
}

input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background:#3DDC84;
    top:2px;
    transition: .0001s;
}

input:checked[type="checkbox"]:before{
    left:18px;
}

@media  (min-width: 320px) and (max-width: 593px ){
input[type="checkbox"]{
    bottom:10px;
}
    /*
    !*по макету непонятно состояние чекбокса, меняю чуть цвет background *!
    input:checked[type="checkbox"]{
        background: black;
    }
    input[type="checkbox"]{
        background: black;
    }
    */
}

