/*.header__name_saved-film-movies{
    display: flex;
    text-decoration: none;
    Font-size: 13px;
    Line-height: 18px;
    font-family: 'Inter';
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
   !* font-weight: 500;*!
   !* height: 74px;*!
}*/

.header__name_saved-film-movies{
    text-decoration: none;
}
.header-color{
    background-color:#202020;
    text-decoration: none;
}
/*отделить аккаунт от фильмов сохраненных фильмов лого*/
.header__logo-films{

    align-items: center;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    text-decoration: none;
}
.header__akkaunt-profile{
    text-decoration: none;
    Font-size: 14px;
    Line-height: 16px;
    font-family: 'Inter';
    font-weight: 500;

}

.header__user{
   border-radius: 20px;
    width: 100px;
    height: 32px;
    Font-size: 14px;
    background-color: #313131;
    Line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__name_saved-film{
    text-decoration: none;
    padding-left: 44px;
    padding-right: 16px;
    padding-top: 10px;
    max-width: 54px;
    max-height: 18px;
    color: #FFFFFF;
    font-weight: 500;
    justify-content: flex-start;
    display: flex;
}
.header__film-saved_film {
    text-decoration: none;
    align-items: baseline;
    Font-size: 13px;
    display: flex;
    font-weight: 400;

}
.headerIcon{
    visibility: hidden;
}
@media  (min-width: 801px) and (max-width: 899px ) {
    .headerIcon{
        visibility: initial;
    }
.header__user{
    width: 0;
    height: 0;
}
}

@media  (min-width: 320px) and (max-width: 800px ) {
    .header__logo-films {
        padding-right: 70px;
        display: flex;
        background-color: #202020;
        text-decoration: none;
        justify-content: space-between;
        align-content: stretch;
        flex-direction: row;
        align-items: flex-start;

    }
    .headerIcon{
        visibility: initial;
    }
    .header__akkaunt-profile{
        width: 0.1vW;
    }

}
@media  (min-width: 769px) and (max-width: 800px ) {
   /* .header__akkaunt-profile{
        width: 0.1vW;
    }*/
}

@media  (min-width: 320px) and (max-width: 596px ) {

   /* */
    .find-line-icon{
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .result_main_search_icon_line{
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .result_main_search__button_find {
        right: 0;
        left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 140px;
    }
    .result_main_search_icon_film{

    }
}
