.main{
padding: 110px 70px;
background-color: #202020;
}

.aboutProject{

}
.aboutProject__title{
    width: 100%;
    margin: 0;
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: -.04em;
    Font-family: 'Inter';
    border-bottom: 1px solid #DADADA;

}

/*///////////////////////////////////////////////////////////////////*/
/*  общее для титлов*/
.aboutProject__1stolb{
    width: 100%;
  /*  padding: 0 70px 50px;*/
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #202020;
}

.aboutProject__title1stolb{
    max-width: 550px;
    max-height: 24px;
    background-color: #202020;
    padding-top: 70px;
    padding-bottom: 26px;
    color: #FFFFFF;
    line-height: 24px;
 /*   display: flex;*/
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -.04em;
    Font-family: 'Inter';
}

.aboutProject__title2stolb{
    max-width: 550px;
    max-height: 24px;
  /*  display: flex;*/
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 26px;
    justify-content: space-between;
    background-color: #202020;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.04em;
    Font-family: 'Inter';
}
/*///////////////////////////////////////////////////////////////////*/
/* вторая строчка*/
.aboutProject__2stolb{

    max-height: 40px;
    width: 100%;
    Font-family: 'Inter';
    display: flex;
    justify-content: space-between;

}
.aboutProject__process2stolb {
    Font-family: 'Inter';
    width: 100%;
   padding-top: 26px;
    background-color: #202020;
    color: #FFFFFF;
  /*  display: flex;*/
    justify-content: space-between;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -.04em;
}
.aboutProject__process1stolb{

    Font-family: 'Inter';
    width: 100%;
    background-color: #202020;
    padding-top: 26px;
    color: #FFFFFF;
    justify-content: space-between;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -.04em;
}


/*/////////псевдокнопки 1 неделя и 4 недели*/
.aboutProject__button{
    width: 100%;
    display: flex;
    justify-content: normal;
    background-color: #202020;
    text-decoration: none;
    vertical-align: middle;
    horiz-align: center;

}
.aboutProject__all__stolb{
    padding-bottom: 110px;
}
.aboutProject__button_first{
    width: 228px;
    height: 36px;
    background: #3DDC84;  /* цвет фона */
    color: white; /* Белые буквы */
    font-size: 14px;
    border: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.aboutProject__button_second{
    width: 912px;
    height: 36px;
    background: #303030;
    color: white; /* Белые буквы */
    font-size: 14px;
    border: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* Надписи под 1 и 4 неделями*/

.aboutProject__button_first_down{
    width: 228px;
    height: 36px;
    background: #202020;  /* цвет фона */
    color: white; /* Белые буквы */
    font-size: 14px;
    border: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.aboutProject__button_second_down{
    width: 912px;
    height: 36px;
    background: #202020;
    color: white; /* Белые буквы */
    font-size: 14px;
    border: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}
@media screen and (max-width: 768px){
.main {
    padding-left: 50px;
    padding-right: 50px;
}}